{% extends 'base.html.twig' %}

{% block title %}New Disc{% endblock %}

{% block body %}
<div class='px-5'>
    <h1>Create new Disc</h1>

    {{ include('disc/_form.html.twig') }}

    <a href="{{ path('app_disc_index') }}" class="btn btn-primary btn-sm mx-auto">back to list</a>
</div>
{% endblock %}
